.about {
  background: #191919;
}
img.about__img {
  border-radius: 10px;
  width: 100%;
}
h1.about__heading {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
}
button.about.btn.pointer {
  text-transform: capitalize;
  width: 195px;
  height: 55px;
  font-size: 18px;
  transition: 0.4s ease;
}
.about__button {
  padding: 20px 0px;
}
a.bottom__to__top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: #f9004d;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  z-index: 1000;
}
a.bottom__to__top.active {
  display: flex;
}
.my-skills {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}

/* button */

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
button {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: #f9004d;
  border-radius: 10px;
}
span {
  display: block;
  padding: 25px 80px;
}
button::before,
button::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before,
button:hover::after {
  width: 100%;
}
button:hover span::before,
button:hover span::after {
  height: 100%;
}

/*----- button 6 -----*/
.btn-6::before {
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btn-6::after {
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-6 span::before {
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6 span::after {
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6:hover::before,
.btn-6:hover::after {
  left: 0;
}
.btn-6:hover span::before,
.btn-6:hover span::after {
  top: 0;
}
/* tech-icon
 */

.icon-title {
  color: #fff;
  text-align: center;
  font-size: small;
}
.tech-stack {
  /* border: 1px solid; */
  padding: 10px;
  text-align: center;
  margin: auto;
  margin: 20px;
  width: 200px;
  height: 130px;
}
.blue {
  box-shadow: 2px 5px 28px rgb(66, 111, 201);
}
.green {
  box-shadow: 2px 5px 28px rgb(20, 189, 23);
}
.orange {
  box-shadow: 2px 5px 28px orange;
}
.yellow {
  box-shadow: 2px 5px 28px yellow;
}
.white {
  box-shadow: 2px 5px 28px white;
}

.tech-stack:hover {
  transition-duration: 1000ms;

  transform: scale(1.2);
}
.tech-stack {
  padding: 10px;
  text-align: center;
  margin: auto;
  margin: 10px;
  width: 170px;
  height: 95px;
}
.tech-icon {
  width: 50px;
}
/* RESPONSIVE */
@media only screen and (max-width: 900px) {
  .p__color {
    font-size: 15px !important;
  }

  @media only screen and (max-width: 625px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 15px 5px;
      grid-template-areas:
        ". ."
        ". ."
        ". .";
      /* margin-left: -30px; */
    }
    .tech-stack {
      width: 140px;
      height: 95px;
    }
  }
}
