.home__bg {
  /* background-image: url(../img/bg.jpg); */
  background-color: #010101;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo img {
  border-radius: 50%;
  max-width: 100px;
}
li.nav__items {
  font-size: 18px;
  padding-bottom: 15px;
  cursor: pointer;
}
.home__content {
  padding: 125px 0px;
}
h1.home__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 0.75) !important;
}
h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}
h3.home__text {
  font-size: 50px;
  font-weight: 800;
  font-family: Raleway, sans-serif;

  line-height: 40px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
h4.home__text {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}
.home__meta {
  width: 100%;
}
.header {
  transition: 0.4s all ease;
}
.header.active {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  padding: 0px 30px;
  background-color: #191919;
}
.toggle__menu {
  display: flex;
  justify-content: flex-end;
  float: right;
  z-index: 1000;
  width: 100%;
}
ul.sidebar.d__flex {
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0%;
  background: #010101;
  justify-content: space-between;
  width: 300px;
  top: 0%;
  flex-direction: column;
}
li.sideNavbar {
  padding: 25px 30px;
}
.profile-img {
  border-radius: 50%;
  height: 200px;
  margin-left: 80px;
}
.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-left: 200px;
  margin-top: 50px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  h2.white.pz__10 {
    font-size: 50px !important;
  }
  svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
  }
  .container-home {
    display: unset;
    margin-left: 30px;
    margin-top: 50px;

    background-color: pink;
  }
  h3.home__text {
    font-size: 30px;
    font-weight: 800;
    font-family: Raleway, sans-serif;

    line-height: 40px;
    clear: unset;
    display: unset;
    overflow: unset;
    white-space: unset;
  }

  h4.home__text {
    font-size: 25px;
  }
  .home__meta {
    /* margin-left: 30px; */
    text-align: center;
  }
  .profile-img {
    height: 100px;
    margin: 0;
  }
  .profile-img-div {
    text-align: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 425px) {
  h2.home__text.pz__10 {
    font-size: 32px;
  }

  h1.home__text {
    font-size: 14px;
  }
  h4.home__text {
    font-size: 45px;
  }
  li.nav__items {
    font-size: 12px;
    cursor: pointer;
  }
  .pxy__30 {
    padding: 3px;
  }
  .logo img {
    max-width: 50px;
  }
  .container-home {
    float: none;
    margin-right: 0;
    width: auto;
  }
  .container-home {
    display: unset;
    margin-left: 30px;
    margin-top: 50px;

    background-color: pink;
  }
  h3.home__text {
    font-size: 25px;

    clear: unset;
    display: unset;
    overflow: unset;
    white-space: unset;
  }

  h4.home__text {
    font-size: 20px;
  }
  .home__meta {
    /* margin-left: 30px; */
    text-align: center;
  }
  .profile-img {
    height: 100px;
    margin: 0;
  }
  .profile-img-div {
    text-align: center;
    margin-top: 40px;
  }
}
