.home__bg {
  /* background-image: url(../img/bg.jpg); */
  background-color: #010101;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}
.logo img {
  border-radius: 50%;
  max-width: 100px;
  cursor: pointer;
}
li.nav__items {
  font-size: 18px;
  padding-bottom: 15px;
  cursor: pointer;
}
.home__content {
  padding: 125px 0px;
}

h1.home__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 0.75) !important;
}
h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}
h3.home__text {
  font-size: 50px;
  font-weight: 800;
  font-family: Raleway, sans-serif;

  line-height: 40px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
h4.home__text {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}
.home__meta {
  width: 100%;
}
.header {
  transition: 0.4s all ease;
}
.header.active {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  padding: 0px 30px;
  background-color: #191919;
}
.toggle__menu {
  display: flex;
  justify-content: flex-end;
  float: right;
  z-index: 1000;
  width: 100%;
}
ul.sidebar.d__flex {
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0%;
  background: #010101;
  justify-content: space-between;
  width: 300px;
  top: 0%;
  flex-direction: column;
}
li.sideNavbar {
  padding: 25px 30px;
}
.profile-img {
  border-radius: 50%;
  height: 200px;
}
.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-left: 200px;
  margin-top: 50px;
}

/* animation  */
/* hover link */

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  width: 220px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  margin: 0;
  margin-top: 10px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -323;
  stroke-width: 8px;
  stroke: #f9004d;
}

.text {
  color: #fff;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 32px;
  font-weight: bolder;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -323;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
.test {
  max-width: 100vw;
}

/* head */

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* animation here */

.typewriter:nth-child(1) {
  font: bold 200% Consolas, Monaco, monospace;
  white-space: nowrap;
}

.typewriter h3 {
  font: bold 200% Consolas, Monaco, monospace;
  margin: 1em 1em;
}

.home-text {
  font: Consolas, Monaco, monospace;
}
h5 {
  color: white;
  /* font-family: "Courier"; */
  font-size: 20px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  animation: type 4s steps(60, end) forwards;
  -webkit-user-select: none;
  user-select: none;
}
h5:nth-child(2) {
  animation-delay: 2s;
}
h5:nth-child(3) {
  animation-delay: 5s;
}
h5:nth-child(4) {
  animation-delay: 8s;
}
h5:nth-child(5) {
  animation-delay: 10s;
}
p:nth-child(6) {
  animation-delay: 5s;
  margin-bottom: 25px;
}
p:nth-child(7) {
  animation-delay: 6s;
}
p:nth-child(7) span:first-child {
  animation-duration: 0.8s;
}
/* span {
  animation: blink 1.8s infinite 8s;
} */
p a {
  color: lime;
  text-decoration: none;
}
@keyframes type {
  0% {
    opacity: 1;
  }
  100% {
    width: 400px;
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
::selection {
  background: black;
}
span {
  display: block;
  padding: 15px 30px;
  /* margin-right: 0; */
}
.red-color {
  color: #f9004d;
}
.bold-font {
  font-size: 25px;
}
.margin-space {
  margin-top: 60px;
}

button.about.btn.pointer {
  text-transform: capitalize;
  width: 195px;
  height: 55px;
  font-size: 18px;
  transition: 0.4s ease;
}
.about__button {
  padding: 20px 0px;
}
a.bottom__to__top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: #f9004d;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  z-index: 1000;
}
a.bottom__to__top.active {
  display: flex;
}
.my-skills {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}

/* button */

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.btn-6 {
  margin-right: -230px;
}
button {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 20px 30px;
  background: #f9004d;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 32px;
  font-weight: bold;
}

button::before,
button::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before,
button:hover::after {
  width: 100%;
}
button:hover span::before,
button:hover span::after {
  height: 100%;
}

/*----- button 6 -----*/
.btn-6::before {
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btn-6::after {
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-6 span::before {
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6 span::after {
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6:hover::before,
.btn-6:hover::after {
  left: 0;
}
.btn-6:hover span::before,
.btn-6:hover span::after {
  top: 0;
}
.cv-btn {
  margin-left: 500px;
  margin-bottom: 100px;
}

/* img animation */
.example1 img {
  animation: profile-img-div 10s linear;
}
/* Move it (define the animation) */
@keyframes profile-img-div {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.typewriter h5 {
  font-size: 32px;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  h2.white.pz__10 {
    font-size: 50px !important;
  }
  svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
  }
  .container-home {
    display: unset;
    /* margin-left: 30px; */
    margin-top: 180px;
  }
  h3.home__text {
    margin-top: 180px;

    font-size: 30px;
    font-weight: 800;
    font-family: Raleway, sans-serif;

    line-height: 40px;
    clear: unset;
    display: unset;
    overflow: unset;
    white-space: unset;
  }

  h4.home__text {
    font-size: 25px;
  }
  .home__meta {
    /* margin-left: 30px; */
    text-align: center;
  }
  .profile-img {
    height: 100px;
    margin: 0;
  }
  .profile-img-div {
    text-align: center;
    margin-top: 40px;
  }
  .test {
    max-width: 100%;
    height: 25vh;
    background-color: rgb(19, 17, 17);
  }
  .svg-wrapper {
    margin: 5px;
    width: unset;
    position: unset;
    margin-top: 60px;
    margin-right: 20px;
  }
  .shape {
    stroke: unset;
  }
  .text {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .text:hover {
    color: #f9004d;
  }
}
@media only screen and (max-width: 668px) {
  .typewriter {
    margin: auto;
  }
  .fixit {
    margin-left: 50px;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .home__bg {
    height: 75vh;
  }
  h2.home__text.pz__10 {
    font-size: 32px;
  }

  h1.home__text {
    font-size: 14px;
  }
  h4.home__text {
    font-size: 45px;
  }
  li.nav__items {
    font-size: 12px;
    cursor: pointer;
  }
  /* .pxy__30 {
    padding: 18px;
  } */
  .logo img {
    max-width: 50px;
    cursor: pointer;
  }
  .container-home {
    float: none;
    margin-right: 0;
    width: auto;
    display: unset;
    margin-left: 30px;
    margin-top: 180px;
  }
  .home__meta {
    /* margin-left: 30px; */
    text-align: center;
  }
  .profile-img {
    height: 100px;
    margin: 0;
  }
  .profile-img-div {
    text-align: center;
    margin-top: 40px;
    overflow: hidden;
  }
  .svg-wrapper {
    margin: 5px;
    margin-top: 60px;
    margin-right: 10px;
  }
  .text {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .text:hover {
    text-decoration: underline;
  }
  .test {
    height: 12vh;
  }
  button.about.btn.pointer {
    text-transform: capitalize;
    width: 165px;
    height: 540px;
    font-size: 13px;
    transition: 0.4s ease;
  }
  .tech-stack {
    padding: 10px;
    text-align: center;
    margin: auto;
    margin: 5px;
    width: 100px;
    height: 80px;
  }
  .tech-icon {
    width: 50px;
  }
  .typewriter h5 {
    font-size: 17px;
  }
  .bold-font {
    font-size: 20px;
  }
  .fixit {
    margin-left: 0;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }
  .disphone {
    display: none;
  }
}
