.social-icon {
  width: 30px;
  /* margin-left: -20px; */
  height: unset;
  margin-top: -8px;
  margin-left: 30px;
}

.side-bar a {
  display: hidden;
  position: fixed;
  left: -40px;
  transition: 0.6s;
  padding: 15px;
  width: 80px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  border-radius: 0 5px 5px 0;
}

.side-bar a:hover {
  left: -20px;
  color: #222;
  font-weight: bold;
  cursor: pointer;

  /* background-position: right center; */
}
#linkedin {
  top: 180px;

  background-image: linear-gradient(
    to right,
    #2d59d2 0%,
    #8fd3f4 51%,
    #31749b 100%
  );
}

#github {
  top: 240px;
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}
#gmail {
  top: 300px;
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 51%,
    #ffecd2 100%
  );
}
#resume {
  top: 360px;
  background-image: linear-gradient(
    to right,
    #267a4c 0%,
    #6dca8f 51%,
    #52ce44 100%
  );
}
